<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>

        <!-- META -->
        <meta charset="utf-8" />
        <meta name="author" content="http://chrisrowe.net" />
        <meta name="description" content="Amy Page and Chris Rowe are getting married in New York" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- CSS -->
        <link rel="stylesheet" href="{exp:cache_buster file='/static/css/screen.css'}" />

        <!-- ICONS -->
        <link rel="icon" type="image/x-icon" href="/static/images/icons/favicon.ico" />

        <!-- MODERNIZR -->
        <script src="/static/js/lib/modernizr.js"></script>

        <!-- TYPEKIT -->
        <script type="text/javascript" src="//use.typekit.net/xhn5ace.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!-- ANALYTICS -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    </head>

    <body class="{embed:body_class}" dir="ltr">

        <div class="header" role="banner">
            <div class="wrapper">

                <div class="us">
                    <img src="/static/images/us.png" />
                </div>

                <div class="branding">
                    <a href="/">
                        <img src="/static/images/branding/branding.png" width="200" height="100" alt="Branding" />
                    </a>
                </div><!-- //.branding -->

            </div><!-- //.wrapper -->
        </div><!-- //.header -->

        <div class="main" role="main">
            <div class="wrapper">

                <div class="nav_pri">
                    <ul>
                        <li class="cur"><a href="#us-and-ny">Us &amp; New York</a></li>
                        <li><a href="#our-party">Our Party</a></li>
                        <li><a href="#rsvp">RSVP</a></li>
                    </ul>
                </div>