* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*

    HTML reset stylesheet
    Adapted from YUI, HTML5 Doctor & Normalize

*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, img, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, hgroup, menu, nav, summary, time, mark, audio, video, header, footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background: transparent;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
img,
menu,
nav,
section,
summary {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

/* =============================================================================
   Forms (From normalize.css: http://necolas.github.com/normalize.css/)
   ========================================================================== */
/*
* 1. Corrects font size not being inherited in all browsers
* 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
* 3. Improves appearance and consistency in all browsers
*/
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
* Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
*/
button,
input {
  line-height: normal;
  /* 1 */
}

/*
* 1. Improves usability and consistency of cursor style between image-type 'input' and others
* 2. Corrects inability to style clickable 'input' types in iOS
* 3. Removes inner spacing in IE7 without affecting normal text inputs
*    Known issue: inner spacing remains in IE6
*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
* Re-set default cursor for disabled elements
*/
button[disabled],
input[disabled] {
  cursor: default;
}

/*
* 1. Addresses box sizing set to content-box in IE8/9
* 2. Removes excess padding in IE8/9
* 3. Removes excess padding in IE7
     Known issue: excess padding remains in IE6
*/
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
* 1. Addresses appearance set to searchfield in S5, Chrome
* 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
*/
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
* Removes inner padding and search cancel button in S5, Chrome on OS X
*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
* Removes inner padding and border in FF3+
* www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
* 1. Removes default vertical scrollbar in IE6/7/8/9
* 2. Improves readability and alignment in all browsers
*/
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* endif */
html {
  font-family: "futura-pt";
  font-size: 1.25em;
  line-height: 1.2;
}

body {
  background: #f6f6f6;
  color: #222;
}

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl,
blockquote, p, address,
table,
form,
pre,
hr {
  margin-bottom: 24px;
  margin-bottom: 1.2rem;
}

ul {
  list-style: disc;
}
ul li {
  margin-left: 20px;
}

ol {
  list-style: decimal;
}
ol li {
  margin-left: 20px;
}

dl dt {
  font-weight: 600;
}
dl dd {
  margin-left: 30px;
}

hr {
  width: 100%;
  border: 0;
  border-bottom: 0px solid #ddd;
  margin: 0;
}

blockquote {
  border-left: 5px solid #ddd;
  color: #555;
  padding-left: 20px;
}

code,
pre {
  font-family: monospace;
}

code {
  background: #eee;
  padding: 0 3px;
}

abbr:hover {
  cursor: help;
}

del {
  text-decoration: line-through;
}

b,
strong {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

figure {
  width: 70%;
  -webkit-transition: all .3s ease;
}
@media screen and (min-width: 600px) {
  figure {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
  }
}
figure.left {
  margin-left: -100px;
  margin-right: 30px;
}
figure.left figcaption {
  text-align: left;
}
@media screen and (max-width: 780px) {
  figure.left {
    margin-left: -50px;
    width: 60%;
  }
}
figure.right {
  margin-right: -100px;
  margin-left: 30px;
}
@media screen and (max-width: 780px) {
  figure.right {
    margin-right: -50px;
    width: 60%;
  }
}
figure.full {
  zoom: 1;
  width: 119%;
  margin-left: -50px;
  margin-right: -50px;
}
figure.full:before, figure.full:after {
  content: "";
  display: table;
}
figure.full:after {
  clear: both;
}
@media screen and (min-width: 600px) {
  figure.full {
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
  }
}
figure.full img {
  max-width: auto;
}
@media screen and (max-width: 600px) {
  figure {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 450px) {
  figure {
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  figure img {
    max-width: 100%;
  }
}
figure figcaption {
  font-size: 16;
  font-size: 0.8rem;
  line-height: 1.5;
  line-height: 1em;
  z-index: 1;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin-top: -50px;
  margin-bottom: 50px;
  padding: 5px 50px;
  text-align: right;
}
@media screen and (max-width: 780px) {
  figure figcaption {
    font-size: 14;
    font-size: 0.7rem;
    line-height: 1.71429;
    line-height: 1em;
  }
}
@media screen and (max-width: 600px) {
  figure figcaption {
    font-size: 16;
    font-size: 0.8rem;
    line-height: 1.5;
  }
}
@media screen and (max-width: 450px) {
  figure figcaption {
    font-size: 14;
    font-size: 0.7rem;
    line-height: 1.71429;
    margin-top: -30px;
    margin-bottom: 30px;
    padding: 8px 10px;
    text-align: left;
    line-height: 1em;
  }
}

iframe,
img,
object,
video {
  height: auto;
  max-width: 100%;
}

h1,
.alpha {
  font-size: 38;
  font-size: 1.9rem;
  line-height: 1.26316;
  line-height: 1em;
  color: #d5091f;
  text-align: center;
  padding-top: 10px;
}
@media screen and (max-width: 480px) {
  h1,
  .alpha {
    font-size: 30;
    font-size: 1.5rem;
    line-height: 1.6;
    line-height: 1em;
    margin-bottom: 10px;
  }
}

h2,
.beta {
  font-size: 24;
  font-size: 1.2rem;
  line-height: 1;
  zoom: 1;
  color: #777777;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}
h2:before,
.beta:before {
  border-top: 1px solid #eee;
  content: "";
  display: block;
  margin-top: 21px;
  margin-bottom: -12px;
  width: 100%;
}
h2:before, h2:after,
.beta:before,
.beta:after {
  content: "";
  display: table;
}
h2:after,
.beta:after {
  clear: both;
}
h2 span,
.beta span {
  background: #fff;
  padding: 0 10px;
}

h3,
.gamma {
  font-size: 24;
  font-size: 1.2rem;
  line-height: 1;
  color: #777777;
}
h3.date,
.gamma.date {
  font-size: 13;
  font-size: 0.65rem;
  line-height: 1.84615;
  color: #aaa;
  text-align: center;
  font-style: italic;
  margin-top: -25px;
}

h4,
.delta {
  font-size: 20;
  font-size: 1rem;
  line-height: 1.2;
  color: #777777;
}

h5,
.epsilon {
  font-size: 16;
  font-size: 0.8rem;
  line-height: 1.5;
}

h6,
.zeta {
  font-size: 14;
  font-size: 0.7rem;
  line-height: 1.71429;
}

a {
  color: #d5091f;
}

form ul {
  list-style: none;
}
form li {
  margin-left: 0;
}

label {
  color: #777;
  float: left;
  width: 27%;
  text-align: right;
  padding-right: 7px;
}
@media screen and (max-width: 600px) {
  label {
    width: 100%;
    text-align: left;
  }
}

.radios {
  float: left;
  width: 70%;
}
@media screen and (max-width: 600px) {
  .radios {
    width: 100%;
    text-align: left;
  }
}
.radios label {
  color: #ccc;
  cursor: pointer;
  width: 70%;
  padding-left: 40px;
  background-image: url("/static/images/radios.svg");
  background-repeat: no-repeat;
  text-align: left;
  background-position: 7px -38px;
}
@media screen and (max-width: 600px) {
  .radios label {
    width: 100%;
  }
}
.radios input[type="radio"] {
  float: left;
  border: 0;
}
.radios input[type="radio"]:checked + label {
  color: #222;
  background-position: 7px 8px;
}

input[type="text"],
input[type="email"],
textarea {
  -webkit-font-smoothing: antialiased;
  background: none;
  background-image: url("/static/images/lines.svg");
  background-position: 0 38px;
  border: none;
  font-family: "kremlin-pro-web", sans-serif;
  font-size: 30px;
  text-rendering: optimizeLegibility;
  width: 65%;
}
@media screen and (max-width: 600px) {
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    text-align: left;
  }
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: none;
  background-image: url("/static/images/lines-on.svg");
  outline: 0;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
  font-family: "kremlin-pro-web", sans-serif;
}
input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ccc;
  font-family: "kremlin-pro-web", sans-serif;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc;
  font-family: "kremlin-pro-web", sans-serif;
}

input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
  width: 0;
}

textarea {
  border: none;
  background-repeat: repeat;
  background-image: url("/static/images/lines.svg");
  background-position: 0 38px;
  resize: none;
  line-height: 44px;
  height: 200px;
}

input[type="submit"] {
  background: none;
  border: none;
  float: right;
  margin: 0 20px 20px 0;
  font-family: "kremlin-pro-web", sans-serif;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 4px;
}
input[type="submit"]:hover {
  background: #ccc;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

.header,
.main,
.footer {
  zoom: 1;
}
.header:before, .header:after,
.main:before,
.main:after,
.footer:before,
.footer:after {
  content: "";
  display: table;
}
.header:after,
.main:after,
.footer:after {
  clear: both;
}

.wrapper {
  zoom: 1;
  max-width: 31.25em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px;
  -webkit-transition: padding .3s ease;
}
.wrapper:before, .wrapper:after {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}
@media screen and (max-width: 480px) {
  .wrapper {
    padding: 0 20px;
  }
}

.main .wrapper {
  background: #fff;
}

.content_pri {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
}
.content_pri:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .content_pri {
    display: block;
    float: left;
    margin-right: 3.22581%;
    width: 100%;
  }
  .content_pri:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .content_pri {
    display: block;
    float: left;
    margin-right: 6.66667%;
    width: 100%;
  }
  .content_pri:last-child {
    margin-right: 0;
  }
}

.section {
  margin-bottom: 80px;
  padding-bottom: 20px;
}

.header {
  background-color: #252525;
  background-image: url("/static/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 150%;
  height: 700px;
  position: relative;
  width: 100%;
  -webkit-animation-name: fade-header-in;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  -webkit-transition: all .3s ease;
}
@media screen and (min-width: 1500px) {
  .header {
    background-position: center center;
  }
}
@media screen and (max-width: 850px) {
  .header {
    height: 500px;
  }
  .header .wrapper {
    background: rgba(255, 255, 255, 0.7);
  }
}
@media screen and (max-width: 600px) {
  .header {
    background-size: cover;
    height: 400px;
  }
}
.header .wrapper {
  height: 100%;
  position: relative;
  -webkit-transition: background .3s ease;
}

@-webkit-keyframes fade-header-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.branding {
  -webkit-animation-name: slide-branding-in;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
}
.branding a {
  margin: 0 auto;
  display: block;
  height: 158px;
  width: 446px;
  -webkit-transition: width .3s ease;
}
@media screen and (max-width: 600px) {
  .branding a {
    width: 85%;
  }
}
.svg .branding a {
  background-image: url("/static/images/branding/branding.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.svg .branding a img {
  visibility: hidden;
}

@-webkit-keyframes slide-branding-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}

.us {
  width: 100%;
}
.us img {
  margin: 30px auto;
  -webkit-animation-name: fade-us-in;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
}
@media screen and (max-width: 600px) {
  .us img {
    margin-top: 70px;
  }
}

@-webkit-keyframes fade-us-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}

.main .wrapper {
  -webkit-animation-name: fade-main-and-footer-in;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 3s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes fade-main-and-footer-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.footer .wrapper {
  background: #ccc;
  background-image: url("/static/images/skyline.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 90px;
  -webkit-animation-name: fade-main-and-footer-in;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 3s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
}
.svg .footer .wrapper {
  background-image: url("/static/images/skyline.svg");
}
.footer p {
  font-size: 14;
  font-size: 0.7rem;
  line-height: 1.71429;
  color: #555;
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

@-webkit-keyframes fade-nav-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.nav_pri {
  position: absolute;
  width: 100%;
  margin-left: -50px;
  bottom: 0;
  z-index: 99;
  -webkit-animation-name: fade-nav-in;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
}
@media screen and (max-width: 600px) {
  .nav_pri {
    font-size: 14;
    font-size: 0.7rem;
    line-height: 1.71429;
    margin: 0 -50px;
    top: 0;
    bottom: auto;
    position: fixed;
  }
}
@media screen and (max-width: 480px) {
  .nav_pri {
    margin: 0 -20px;
  }
}
.nav_pri ul {
  margin-bottom: 0;
}
.nav_pri li {
  float: left;
  list-style: none;
  margin-left: 0;
  width: 33.33333%;
}
.nav_pri a {
  background: rgba(255, 255, 255, 0.8);
  display: block;
  padding: .8em .1em;
  text-decoration: none;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .nav_pri a {
    background: rgba(255, 255, 255, 0.95);
  }
}
.nav_pri a:hover, .nav_pri a:focus {
  text-decoration: underline;
  background: #fff;
}
.nav_pri .cur a {
  background: rgba(34, 34, 34, 0.9);
  color: #fff;
  position: relative;
}
.nav_pri .cur a:after {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 7.5px;
  border-top-color: rgba(34, 34, 34, 0.9);
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: 100%;
}

.fullbreak {
  border-bottom: 1px solid #ccc;
  margin: 50px 0 40px;
}

.rsvp-form {
  font-size: 30;
  font-size: 1.5rem;
  line-height: 1.6;
  background: #eee;
  font-family: "kremlin-pro-web", sans-serif;
  margin: 0 -50px;
  padding: 40px 30px 80px;
}
@media screen and (max-width: 500px) {
  .rsvp-form {
    margin: 0 -20px;
    padding: 40px 20px 80px;
  }
}
