// BODY -------------------- //

html{
    font-family:$font1;
    font-size:$base-font-size / 16 +em;
    line-height:$base-line-height / $base-font-size;
}

body {
    background:lighten(#eee,3%);
    color:#222;
}


// DEFAULT STYLING -------------------- //

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,
blockquote,p,address,
table,
form,
pre,
hr{
    margin-bottom:$base-spacing-unit + px;
    margin-bottom:$base-spacing-unit / $base-font-size +rem;
}

ul {
    list-style:disc;

    li {
        margin-left:20px;
    }
}

 ol {
    list-style:decimal;

    li {
        margin-left:20px;
    }
}

dl {


    dt {
        font-weight:600;
    }
    dd {
        margin-left:30px;
    }
}

hr {
    width:100%;
    border:0;
    border-bottom:0px solid #ddd;
    margin:0;
}

blockquote {
    border-left:5px solid #ddd;
    color:#555;
    padding-left:20px;

    p {

    }
    cite {

    }
}

code,
pre {
    font-family:monospace;
}
code {
    background:#eee;
    padding:0 3px;
}
pre {


    code {

    }
}

abbr {


    &:hover {
        cursor:help;
    }
}

del {
    text-decoration:line-through;
}

b,
strong {
    font-weight:bold;
}
em,
i {
    font-style:italic;
}

sup {
    vertical-align:super;
}
sub {
    vertical-align:sub;
}

small {

}

figure {
    width:70%;

    &.left {
        margin-left:-100px;
        margin-right:30px;

        figcaption {
            text-align:left;
        }
    }
    &.right {
        margin-right:-100px;
        margin-left:30px;
    }

    img {

    }
    figcaption {
        @include font-size(16);
        z-index:1;
        position:relative;
        background:rgba(#000,.7);
        color:#fff;
        margin-top:-50px;
        margin-bottom:50px;
        padding:5px 50px;
        text-align:right;
    }
}

iframe,
img,
object,
video {
    height:auto;
    max-width:100%;
    // margin-right:-10%;
}


// HEADLINES -------------------- //

h1,
.alpha {
    @include font-size($h1-size);
    color:$branding1;
}
h2,
.beta {
    &:before {
        border-top:1px solid #eee;
        content:"";
        display:block;
        margin-top:21px;
        margin-bottom:-12px;
        width:100%;
    }
    @include font-size($h2-size);
    @include clearfix;
    color:$branding2;
    text-transform:uppercase;
    text-align:center;
    margin-top:50px;
    width:100%;

    span {
        background:#fff;
        padding:0 10px;
    }
}
h3,
.gamma {
    @include font-size($h3-size);
    color:$branding2;

    &.date {
        @include font-size(13);
        color:#aaa;
        text-align:center;
        font-style:italic;
        margin-top:-25px;
    }
}
h4,
.delta {
    @include font-size($h4-size);
    color:$branding2;
}
h5,
.epsilon {
    @include font-size($h5-size);
}
h6,
.zeta {
    @include font-size($h6-size);
}

// LINKS -------------------- //

a {
    color:$branding1;

    &:hover,
    &:focus {

    }
}


// FORMS -------------------- //

form {


    dl {


        dt {

        }
        dd {

        }
    }

    ul {

    }
    li {

    }

} // form

fieldset {

}

label {


    em {

    }
} // label

input[type="text"],
input[type="email"],
textarea {

}
input[type="checkbox"],
input[type="radio"] {

}
textarea {

}

input[type="submit"] {

}


// TABLES -------------------- //

table {

}

caption {

}
legend {

}

tr {

}

th,
td {

}
th {

}
td {

}

thead {


    th {

    }
    td {

    }
} // thead

tbody {


    th {

    }
    td {

    }
} // tbody

// HELPERS -------------------- //

.left {
    float:left;
}
.right {
    float:right;
}

.clearfix {
    @include clearfix;
}


// LAYOUT -------------------- //

.header,
.main,
.footer{
    @include clearfix;
}

.wrapper {
    @include outer-container;
    padding:0 50px;
}

.main {
    .wrapper {
        background:#fff;
    }
}

.content_pri {
    @include span-columns(12);
    padding-top:35px;

    @include media($tablet) {
        @include span-columns(5);
    }
    @include media($mobile) {
        @include span-columns(4);
    }
}

.content_sec {
    @include span-columns(4);
    @include omega;

    @include media($tablet) {
        @include span-columns(3);
    }
    @include media($mobile) {
        @include span-columns(4);
    }

}

// HEADER & BRANDING -------------------- //

.header {
    // background-attachment:fixed;
    // background:url("/static/images/header-bg.jpg");
    background:url("/static/images/header-bg.jpg") #252525 no-repeat fixed;
    background-position:top center;
    background-size:150%;
    height:700px;
    position:relative;
    width:100%;

}

.branding {

    a {
        margin:0 auto;
        display:block;
        height:158px;
        width:446px;

        .svg & {
            background-image:url("/static/images/branding/branding.svg");
            background-repeat:no-repeat;
            background-size:contain;

            img {
                visibility:hidden;
            }
        }
    }

} // .branding

.us {
    width:100%;

    img {
        margin:30px auto;
    }
}


// FOOTER -------------------- //

.footer {

    .wrapper {
        background:#ccc;
    }
}


// NAVIGATION -------------------- //

.nav_pri {

    ul {
        margin-bottom:0;
    }

    li {
        float:left;
        list-style:none;
        margin-left:0;
    }

    a {
        display:block;
        padding:1em;
        text-decoration:none;

        &:hover,
        &:focus {

        }
    }

    .parent-cur a,
    .cur a {
        background:#fff;
    }

} // .nav_pri