// BODY -------------------- //

html{
    font-family:$font1;
    font-size:$base-font-size / 16 +em;
    line-height:$base-line-height / $base-font-size;
}

body {
    background:lighten(#eee,3%);
    color:#222;
}


// DEFAULT STYLING -------------------- //

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,
blockquote,p,address,
table,
form,
pre,
hr{
    margin-bottom:$base-spacing-unit + px;
    margin-bottom:$base-spacing-unit / $base-font-size +rem;
}

ul {
    list-style:disc;

    li {
        margin-left:20px;
    }
}

 ol {
    list-style:decimal;

    li {
        margin-left:20px;
    }
}

dl {


    dt {
        font-weight:600;
    }
    dd {
        margin-left:30px;
    }
}

hr {
    width:100%;
    border:0;
    border-bottom:0px solid #ddd;
    margin:0;
}

blockquote {
    border-left:5px solid #ddd;
    color:#555;
    padding-left:20px;

    p {

    }
    cite {

    }
}

code,
pre {
    font-family:monospace;
}
code {
    background:#eee;
    padding:0 3px;
}
pre {


    code {

    }
}

abbr {


    &:hover {
        cursor:help;
    }
}

del {
    text-decoration:line-through;
}

b,
strong {
    font-weight:bold;
}
em,
i {
    font-style:italic;
}

sup {
    vertical-align:super;
}
sub {
    vertical-align:sub;
}

small {

}

figure {
    @include media(min-width 600px) {
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
    }
    width:70%;
    -webkit-transition:all .3s ease;

    &.left {
        margin-left:-100px;
        margin-right:30px;

        figcaption {
            text-align:left;
        }

        @include media(max-width 780px) {
            margin-left:-50px;
            width:60%;
        }
    }
    &.right {
        margin-right:-100px;
        margin-left:30px;

        @include media(max-width 780px) {
            margin-right:-50px;
            width:60%;
        }
    }

    &.full {
        @include clearfix;
        @include media(min-width 600px) {
            cursor: -webkit-zoom-out;
            cursor: -moz-zoom-out;
        }
        width:119%;
        margin-left:-50px;
        margin-right:-50px;

        img {
            max-width:auto;
        }
    }

    @include media(max-width 600px) {
        width:100%!important;
        margin-left:0!important;
        margin-right:0!important;
    }

    @include media(max-width 450px) {
        width:100%!important;
        margin-left:-0px!important;
        margin-right:-0px!important;

        img {
            max-width:100%;
        }
    }

    figcaption {
        @include font-size(16);
        line-height:1em;
        z-index:1;
        position:relative;
        background:rgba(#000,.7);
        color:#fff;
        margin-top:-50px;
        margin-bottom:50px;
        padding:5px 50px;
        text-align:right;

        @include media(max-width 780px) {
            @include font-size(14);
            line-height:1em;
        }

        @include media(max-width 600px) {
            @include font-size(16);
        }

        @include media(max-width 450px) {
            @include font-size(14);
            margin-top:-30px;
            margin-bottom:30px;
            padding:8px 10px;
            text-align:left;
            line-height:1em;
        }
    }
}

iframe,
img,
object,
video {
    height:auto;
    max-width:100%;
    // margin-right:-10%;
}


// HEADLINES -------------------- //

h1,
.alpha {
    @include font-size($h1-size);
    line-height:1em;
    color:$branding1;

    @include media($mobile) {
        @include font-size(30);
        line-height:1em;
        margin-bottom:10px;
    }
}
h2,
.beta {
    &:before {
        border-top:1px solid #eee;
        content:"";
        display:block;
        margin-top:21px;
        margin-bottom:-12px;
        width:100%;
    }
    @include font-size($h2-size);
    @include clearfix;
    color:$branding2;
    text-transform:uppercase;
    text-align:center;
    margin-top:50px;
    width:100%;

    span {
        background:#fff;
        padding:0 10px;
    }
}
h3,
.gamma {
    @include font-size($h3-size);
    color:$branding2;

    &.date {
        @include font-size(13);
        color:#aaa;
        text-align:center;
        font-style:italic;
        margin-top:-25px;
    }
}
h4,
.delta {
    @include font-size($h4-size);
    color:$branding2;
}
h5,
.epsilon {
    @include font-size($h5-size);
}
h6,
.zeta {
    @include font-size($h6-size);
}

// LINKS -------------------- //

a {
    color:$branding1;

    &:hover,
    &:focus {

    }
}


// FORMS -------------------- //

form {


    dl {


        dt {

        }
        dd {

        }
    }

    ul {

    }
    li {

    }

} // form

fieldset {

}

label {


    em {

    }
} // label

input[type="text"],
input[type="email"],
textarea {

}
input[type="checkbox"],
input[type="radio"] {

}
textarea {

}

input[type="submit"] {

}


// TABLES -------------------- //

table {

}

caption {

}
legend {

}

tr {

}

th,
td {

}
th {

}
td {

}

thead {


    th {

    }
    td {

    }
} // thead

tbody {


    th {

    }
    td {

    }
} // tbody

// HELPERS -------------------- //

.left {
    float:left;
}
.right {
    float:right;
}

.clearfix {
    @include clearfix;
}

.hidden {
    display:none;
}

// LAYOUT -------------------- //

.header,
.main,
.footer{
    @include clearfix;
}

.wrapper {
    @include outer-container;
    padding:0 50px;
    -webkit-transition:padding .3s ease;

    @include media($mobile) {
        padding:0 20px;
    }
}

.main {
    .wrapper {
        background:#fff;
    }
}

.content_pri {
    @include span-columns(12);
    padding-top:35px;

    @include media($tablet) {
        @include span-columns(8);
    }
    @include media($mobile) {
        @include span-columns(4);
    }
}


// HEADER & BRANDING -------------------- //

.header {
    background-color:#252525;
    background-image:url("/static/images/header-bg.jpg");
    background-repeat:no-repeat;
    background-position:top center;
    background-size:150%;
    height:700px;
    position:relative;
    width:100%;

    // -webkit-animation-name: fade-header-in;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    -webkit-transition:all .3s ease;


    @include media(min-width 1500px) {
        background-position:center center;
    }

    @include media(max-width 850px) {
        height:500px;

        .wrapper {
            background:rgba(#fff,.7);
        }
    }

    @include media(max-width 600px) {
        background-size:cover;
        height:400px;
    }

    .wrapper {
        height:100%;
        -webkit-transition:background .3s ease;
    }
}


@-webkit-keyframes fade-header-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.branding {

    // -webkit-animation-name: slide-branding-in;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 2s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;

    a {
        margin:0 auto;
        display:block;
        height:158px;
        width:446px;
        -webkit-transition:width .3s ease;

        @include media(max-width 600px) {
            width:85%;
        }

        .svg & {
            background-image:url("/static/images/branding/branding.svg");
            background-repeat:no-repeat;
            background-size:contain;

            img {
                visibility:hidden;
            }
        }
    }

} // .branding

@-webkit-keyframes slide-branding-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
}

.us {
    width:100%;

    img {
        margin:30px auto;
        // -webkit-animation-name: fade-us-in;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-delay: 1s;
        -webkit-animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        -webkit-animation-iteration-count: 1;
    }
}

@-webkit-keyframes fade-us-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
}


.main {

    .wrapper {
        // -webkit-animation-name: fade-main-in;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-delay: 3s;
        -webkit-animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        -webkit-animation-iteration-count: 1;
    }
}

@-webkit-keyframes fade-main-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// FOOTER -------------------- //

.footer {

    .wrapper {
        background:#ccc;
    }
}


// NAVIGATION -------------------- //

.nav_pri {

    ul {
        margin-bottom:0;
    }

    li {
        float:left;
        list-style:none;
        margin-left:0;
        width:percentage(1/3);
    }

    a {
        display:block;
        padding:.6em 1em;
        text-decoration:none;
        text-align:center;

        &:hover,
        &:focus {
            text-decoration:underline;
            background:lighten(#eee,2%);
        }
    }

    .cur a {
        background:lighten(#eee,2%);
    }

} // .nav_pri