// DEBUG -------------------- //

// $debug-mode:true;
// $visual-grid:true;
$visual-grid-color:red;
$visual-grid-index:front;
$visual-grid-opacity:0.1;


// GRID -------------------- //

$column:90px;
$gutter:30px;
$grid-columns:12;
$max-width:em(500);


// BREAKPOINTS -------------------- //

$tablet:new-breakpoint(max-width 768px 8);
$mobile:new-breakpoint(max-width 480px 4);


// FONTS -------------------- //

$font1:"futura-pt";
$font2:"kremlin-pro-web",sans-serif;

$base-font-size:20;
$base-line-height:24;

$base-spacing-unit:$base-line-height;

$h1-size:38;
$h2-size:24;
$h3-size:24;
$h4-size:20;
$h5-size:16;
$h6-size:14;


// COLOURS -------------------- //

$branding1:#d5091f;
$branding2:#777;