{embed="_layout/_start"
    body_class="homepage"
}

<div class="content_pri">

    <div data-section="us-and-ny" >

        <h1>We're Getting Married!</h1>

        <p>After almost 9 years we both knew enough was enough and it was time to tie the knot! As much as we love attending weddings we knew they weren't for us, so we've decided <strong>we're eloping to New York!</strong></p>


        <hr/>
        <h2><span>The Proposal</span></h2>
        <h3 class="date">Saturday 28th September 2013</h3>
        <figure class="right">
            <img src="/static/images/park.jpg" />
            <figcaption>Wollaton Park overlooking the lake</figcaption>
        </figure>
        <p>
            After a lovely walk through the grounds of Wollaton park with <a href="http://chri.sr/PYfZ">Archie</a> we arrived at the back  overlooking the lake. After a quick dash into the woods Chris reappeared, got down on one knee and popped the question. A short <em>"Yes"</em> later and we toasted the occation with a picknik and glass of bubbly.
        </p>


        <hr/>
        <h2><span>Las Vegas</span></h2>
        <h3 class="date">Thursday 30th January 2014</h3>
        <figure class="left">
            <img src="/static/images/vegas.jpg" />
            <figcaption>Viva Las Vegas!</figcaption>
        </figure>
        <p>
            Just over 4 months later and we'll touch down in Las Vegas for a brief 4 day stop in "The Gambling Capital of the World". We'll be checking out the strip and all it's Casinos and will probably take in a show or two.
        </p>

        <hr/>
        <h2><span>Our Big Day</span></h2>
        <h3 class="date">Wednesday 5th February 2014</h3>
        <figure class="right">
            <img src="/static/images/office.jpg" class="office" />
            <figcaption>City Clerk's Office NY</figcaption>
        </figure>
        <p>On <strong>February 5th 2014</strong> we'll share our vows and wed at the City Clerk's Office in Manhatten. We plan on celebrating our first day as married couple by taking in some of the sights and sounds of The Big Apple.</p>
        <hr/>
        <figure class="left">
            <img src="http://upload.wikimedia.org/wikipedia/commons/8/80/NYC_wideangle_south_from_Top_of_the_Rock.jpg" />
            <figcaption>The view from the Rockefeller Center</figcaption>
        </figure>
        <p>We'll be seeing as much of the city as we can. We already have tickets for amazing views from the Top of the Rock at the Rockefeller Center. But also on our list is Central Park, The Statue Of Liberty, Grand Cetral Station and Brookyln Bridge to name just a few&hellip;</p>

    </div>

</div> <!-- // .content_pri -->


<div data-section="our-party" class="content_pri hidden">

    <h1>Our Party</h1>

    <p>It wouldn't be a wedding without all our friends and family so we're inviting you to <a href="#">Ruddington Grange Golf club</a> on the evening of <strong>Saturday February 8th 2014</strong> to help up celebrate our new chapter together.</p>

    <h2><span>Knees Up!</span></h2>
    <h3 class="date">Saturday 8th February 2014</h3>
    <figure class="right">
        <img src="/static/images/map.jpg" />
        <figcaption>Ruddington Grange Map</figcaption>
    </figure>



</div>

{embed="_layout/_end"}