{embed="_layout/_start"
    body_class="homepage"
}

<div class="content_pri">

    <h1>We're Getting Married!</h1>



    <p>After almost 9 years we both knew enough was enough and it was time to tie the knot. As much as we love attending weddings we knew they weren't for us, so we've decided <strong>we're going to elope to New York</strong> and wed there!</p>

    <hr/>

    <h2><span>Our Big Day</span></h2>

    <figure class="right">
        <img src="/static/images/office.jpg" class="office" />
        <figcaption>City Clerk's Office NY</figcaption>
    </figure>


    <p>On <strong>February 5th 2014</strong> we'll share our vows and wed at the City Clerk's Office in Manhatten. We'll celebrate our first day as married couple taking in some of the sights and sounds of NY, whilest admiring the views from the Top of the Rock at the Rockefeller Center.</p>

    <figure class="left">
        <img src="http://upload.wikimedia.org/wikipedia/commons/8/80/NYC_wideangle_south_from_Top_of_the_Rock.jpg" />
        <figcaption>The view from the Rockefeller Center</figcaption>
    </figure>

    <hr/>

    <h2><span>Knees Up!</span></h2>

    <p>It wouldn't be a wedding without all our friends and family so we're inviting you to <a href="#">Ruddington Grange Golf club</a> on the evening of <strong>Saturday February 8th 2014</strong> to help up celebrate our new chapter together.</p>

    <figure>
        <img src="/static/images/map.png" />
        <figcaption>Ruddington Grange Map</figcaption>
    </figure>

</div> <!-- // .content_pri -->

{embed="_layout/_end"}