{embed="_layout/_start"
    body_class="homepage"
}

<div class="content_pri">

    {exp:channel:entries
        channel="pages"
        require_entry="yes"
    }
        {if no_results}{redirect="404"}{/if}

        {cf_pages_content}

    {/exp:channel:entries}


    {if segment_1 == "contact-us"}
        {exp:freeform:form
            form_name="contact"
            return="/contact-us/thank_you"
        }
            <dl>
            {freeform:all_form_fields}
                <dt><label>{freeform:field_label}</label></dt>
                <dd>{freeform:field_output}</dd>
            {/freeform:all_form_fields}
            </dl>
            <p>{freeform:submit}</p>
            {if freeform:no_results}
                <p>
                    Specified form was not found. Please make sure you have
                    specified the correct short name of the form in the
                    <b>form_name</b> parameter.
                </p>
            {/if}
        {/exp:freeform:form}
    {/if}

</div> <!-- // .content_pri -->

<div class="content_sec">

    {embed="site/_sidebar"}

</div> <!-- // .content_sec -->

{embed="_layout/_end"}